@import "tailwindcss";

@theme {
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-black: hsl(0, 0%, 0%);
  --color-theme-grey: hsl(0, 0%, 85%);

  --font-alata: "Alata", "sans-serif";
  --font-josefinsans: "JosefinSans", "sans-serif";

  --text-md: 0.9375rem;
}
