---
import navLinks from "@/data/navitems.json";
---

<nav>
  <ul
    class="font-alata text-md flex flex-col gap-4 text-center tracking-wide md:flex-row md:gap-8 md:text-left"
  >
    {
      navLinks.map((link) => (
        <li>
          <a
            href={link.href}
            class="text-theme-white after:bg-theme-white relative pb-2 after:absolute after:bottom-0 after:left-1/2 after:h-[2px] after:w-0 after:-translate-x-1/2 after:transition-all after:duration-300 hover:after:w-[1.5rem]"
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
