---
import AppLogo from "./AppLogo.astro";
---

<footer class="bg-theme-black text-theme-white mt-44 h-40 py-8">
  <div class="mx-auto flex max-w-[1440px] items-center justify-between px-6 py-3 lg:px-40">
    <div class="flex flex-col items-center gap-6">
      <AppLogo classes="h-6 w-35 self-start" />
      <nav>
        <ul class="font-alata text-md flex flex-row gap-8 tracking-wide">
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </nav>
    </div>
    <div class="flex w-full flex-col items-end justify-end gap-6">
      <ul class="flex gap-4">
        <li>
          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"
            ><img src="images/icon-facebook.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://x.com" target="_blank" rel="noopener noreferrer"
            ><img src="images/icon-twitter.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://pinterest.com" target="_blank" rel="noopener noreferrer"
            ><img src="images/icon-pinterest.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"
            ><img src="images/icon-instagram.svg" alt="" /></a
          >
        </li>
      </ul>
      <p class="font-alata text-theme-grey/50 text-md self-end" id="footer-copyright"></p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const footerCopyright = document.getElementById("footer-copyright");
    const currentYear: number = new Date().getFullYear();
    if (footerCopyright)
      footerCopyright.innerHTML = `&copy; ${currentYear} Loopstudios. All rights reserved.`;
  });
</script>
