---
const socialLinks = [
  {
    href: "https://facebook.com",
    image: "images/icon-facebook.svg",
    alt: "Facebook",
  },
  {
    href: "https://x.com",
    image: "images/icon-twitter.svg",
    alt: "X",
  },
  {
    href: "https://pinterest.com",
    image: "images/icon-pinterest.svg",
    alt: "Pinterest",
  },
  {
    href: "https://instagram.com",
    image: "images/icon-instagram.svg",
    alt: "Instagram",
  },
];
---

<ul class="flex items-center justify-center gap-4 md:justify-end">
  {
    socialLinks.map((link) => (
      <li>
        <a
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
          role="button"
          aria-label={`Follow us on ${link.alt}`}
        >
          <img src={link.image} alt={link.alt} loading="lazy" aria-hidden="true" />
        </a>
      </li>
    ))
  }
</ul>
