---
import AppLogo from "./AppLogo.astro";
import AppFooterNav from "./AppFooterNav.astro";
import AppFooterSocial from "./AppFooterSocial.astro";
---

<footer class="mt-24 h-fit bg-theme-black py-12 text-theme-white md:mt-44 md:py-8">
  <div
    class="mx-auto flex max-w-360 flex-col items-center justify-between px-6 py-3 md:flex-row lg:px-40"
  >
    <div class="flex flex-col items-center gap-8 md:gap-6">
      <AppLogo classes="h-6 w-35 self-start" />
      <AppFooterNav />
    </div>
    <div class="mt-12 flex w-full flex-col gap-6 md:mt-0">
      <AppFooterSocial />
      <p
        class="self-center font-alata text-base text-theme-grey/50 md:self-end md:text-md"
        id="footer-copyright"
        aria-live="polite"
        aria-atomic="true"
      >
      </p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const footerCopyright = document.getElementById("footer-copyright");
    const currentYear: number = new Date().getFullYear();
    if (footerCopyright)
      footerCopyright.innerHTML = `&copy; ${currentYear} Loopstudios. All rights reserved.`;
  });
</script>
