---
import { Image } from "astro:assets";
import interactive from "@/assets/images/image-interactive.jpg";
---

<section class="bg-theme-white" aria-labelledby="history-heading">
  <div
    class="relative mx-auto flex max-w-360 flex-col items-center px-6 pt-24 pb-12 xl:block xl:px-40 xl:py-40"
  >
    <Image
      src={interactive}
      alt="A man wearing a VR headset and enjoying it."
      loading="eager"
      width={731}
      height={500}
      sizes="(max-width: 767px) 654px, 731px"
    />

    <div
      class="top-82.5 right-20 max-w-155.5 bg-theme-white px-6 py-12 text-center xl:absolute xl:px-20 xl:py-24 xl:text-left"
    >
      <h2
        class="font-josefinsans text-[2rem] leading-8 text-balance text-theme-black uppercase sm:leading-none md:text-5xl"
        id="history-heading"
      >
        The leader in interactive VR
      </h2>
      <p
        class="mt-5 font-alata text-sm leading-6 tracking-wide text-theme-black/50 sm:text-md md:mt-10"
      >
        Founded in 2011, Loopstudios has been producing world-class virtual reality projects for
        some of the best companies around the globe. Our award-winning creations have transformed
        businesses through digital experiences that bind to their brand.
      </p>
    </div>
  </div>
</section>
