---
import AppHeaderLogo from "@/components/AppHeaderLogo.astro";

const navLinks = [
  { href: "#", label: "About" },
  { href: "#", label: "Careers" },
  { href: "#", label: "Events" },
  { href: "#", label: "Products" },
  { href: "#", label: "Support" },
];
---

<div
  class="flex h-[650px] flex-col gap-40 bg-[url(../assets/images/mobile/image-hero.jpg)] bg-cover bg-no-repeat px-6 pt-10 md:gap-32 md:bg-[url(../assets/images/desktop/image-hero.jpg)] lg:px-20 lg:pt-12 xl:px-40 xl:pt-16"
>
  <div class="flex items-center justify-between">
    <AppHeaderLogo classes="h-6 w-35 md:h-8 md:w-48" />
    <button type="button" class="cursor-pointer">
      <svg width="24" height="16" xmlns="http://www.w3.org/2000/svg" class="md:hidden">
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z"></path>
        </g>
      </svg>
    </button>
    <nav class="text-theme-white font-alata hidden text-sm md:block">
      <ul class="flex flex-row gap-10">
        {
          navLinks.map((link) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div class="border-theme-white max-w-[400px] border-2 p-6 lg:p-9 lg:pb-6 xl:max-w-[660px]">
    <p
      class="font-josefinsans mb-0 text-[2.5rem] leading-10 text-white uppercase lg:leading-none xl:text-7xl"
    >
      Immersive experiences that deliver
    </p>
  </div>
</div>
