---
import AppLogo from "@/components/AppLogo.astro";
import AppHeaderNav from "@/components/AppHeaderNav.astro";
import AppMobileMenu from "@/components/AppMobileMenu.astro";
---

<div class="z-1 flex items-center justify-between">
  <AppLogo classes="h-6 w-35 md:h-8 md:w-48" />
  <button
    type="button"
    class="cursor-pointer md:hidden"
    id="menu-toggle"
    aria-label="Toggle menu"
    aria-expanded="false"
  >
    <svg
      width="24"
      height="16"
      xmlns="http://www.w3.org/2000/svg"
      class="menu-icon"
      aria-hidden="true"
    >
      <g fill="#FFF" fill-rule="evenodd">
        <path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z"></path>
      </g>
    </svg>
    <svg
      width="20"
      height="20"
      xmlns="http://www.w3.org/2000/svg"
      class="close-icon hidden"
      aria-hidden="true"
    >
      <path
        d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z"
        fill="#FFF"
        fill-rule="evenodd"></path>
    </svg>
  </button>
  <AppHeaderNav aria-label="Main navigation" />
</div>

<div
  id="mobile-menu"
  class="bg-theme-black fixed inset-0 z-2 hidden h-screen w-full"
  aria-label="Main navigation"
>
  <AppMobileMenu />
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    function toggleMenu(forceClose = false) {
      if (mobileMenu && menuToggle) {
        const isClosing = forceClose || !mobileMenu.classList.contains("hidden");
        mobileMenu.classList.toggle("hidden", isClosing);
        document.body.style.overflow = isClosing ? "" : "hidden";
        menuToggle.setAttribute("aria-expanded", String(!isClosing));
      }
    }
    menuToggle?.addEventListener("click", () => toggleMenu());
    window.addEventListener("close-menu", () => toggleMenu(true));
  });
</script>
