---
import navLinks from "@/data/navitems.json";
---

<nav class="text-theme-white font-alata hidden text-sm md:block">
  <ul class="flex flex-row gap-10">
    {
      navLinks.map((link) => (
        <li>
          <a
            href={link.href}
            class="hover:border-theme-white border-b-2 border-transparent pb-2 transition-colors duration-300"
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
