---
import navItems from "@/data/nav-items.json";
---

<nav class="mt-20" id="mobile-menu-nav" aria-label="Mobile menu">
  <ul class="space-y-4">
    {
      navItems.map((item, index) => (
        <li aria-posinset={index + 1} aria-setsize={navItems.length}>
          <a
            href={item.href}
            class="font-josefinsans hover:border-theme-white border-b-2 border-transparent pb-2 text-2xl text-white uppercase transition-colors duration-300"
            aria-label={item.label}
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
