---
import navItems from "@/data/nav-items.json";
---

<nav class="mt-20" id="mobile-menu" aria-label="Mobile menu">
  <ul class="space-y-4">
    {
      navItems.map((item) => (
        <li>
          <a
            href={item.href}
            class="font-josefinsans hover:border-theme-white border-b-2 border-transparent pb-2 text-2xl text-white uppercase transition-colors duration-300"
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
