---
interface Props {
  imageDesktop?: string;
  imageMobile?: string;
  title: string;
}

const { imageDesktop, imageMobile, title } = Astro.props;
---

<article
  class="relative h-32 bg-cover bg-center bg-no-repeat sm:h-64 xl:h-112"
  style={`--bg-mobile: url(${imageMobile}); --bg-desktop: url(${imageDesktop});`}
>
  <div class="absolute inset-0 z-0 bg-black/30"></div>
  <p
    class="font-josefinsans absolute bottom-6 z-1 px-10 text-3xl text-balance text-white uppercase"
  >
    {title}
  </p>
</article>

<style>
  article {
    background-image: var(--bg-mobile);
  }
  @media (min-width: 640px) {
    article {
      background-image: var(--bg-desktop);
    }
  }
</style>
