---
import AppShowcaseCard from "./AppShowcaseCard.astro";
import showcaseItems from "@/data/showcase-items.json";
---

<section class="md:mt-6" aria-labelledby="showcase-heading">
  <div class="mx-auto max-w-360 px-6 lg:px-40">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:gap-7 xl:grid-cols-4">
      <h2
        class="pb-4 text-center font-josefinsans text-3xl text-theme-black uppercase sm:text-left md:pb-10 md:text-4xl xl:col-span-2 xl:text-5xl"
        id="showcase-heading"
      >
        Our Creations
      </h2>
      <a
        href={import.meta.env.BASE_URL}
        class="order-last self-start justify-self-center border-2 border-theme-black/50 bg-theme-white px-10 py-2 font-alata text-md tracking-[.3em] text-theme-black uppercase transition-colors duration-300 hover:bg-theme-black hover:text-theme-white sm:order-0 sm:justify-self-end xl:col-span-2"
      >
        See all
      </a>
      {
        showcaseItems.map((showcaseItem) => (
          <AppShowcaseCard
            imageDesktop={import.meta.env.BASE_URL + showcaseItem.imageDesktop}
            imageMobile={import.meta.env.BASE_URL + showcaseItem.imageMobile}
            title={showcaseItem.title}
            aria-label={showcaseItem.title}
          />
        ))
      }
    </div>
  </div>
</section>
