---
import AppShowcaseCard from "./AppShowcaseCard.astro";

import creations from "@/data/showcase.json";
---

<section>
  <div class="mx-auto max-w-[1440px] px-6 lg:px-40">
    <h2 class="text-center uppercase">Our Creations</h2>
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-4">
      {
        creations.map((creation) => (
          <AppShowcaseCard
            imageDesktop={creation.imageDesktop}
            imageMobile={creation.imageMobile}
            title={creation.title}
          />
        ))
      }
    </div>
  </div>
</section>
